@mixin transition($property) {
    transition: $property 0.2s ease-in-out;
  }
  
  @mixin transition2($property) {
    transition: $property 1s ease-in-out;
  }
  
  .table-container {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
  
    @include transition2(width);
  
    &-collapsed {
        left: 68px;
        width: calc(100% - 68px);
    }
  
    &__button {
        position: relative;
        color: #FFF;
        font-size: 10px;
        font-weight: 600;
        border: 2px solid #00a9e5;
        border-radius: 8px;
        background-color: #222;
        cursor: pointer;
        transition: 1.5s;
        padding: 6px;
    }
  
    &__button:hover {
        box-shadow: 0 3px 3px 0 #00a9e5 inset, 0 5px 50px 0 #00a9e5, 0 3px 3px 0 #00a9e5 inset, 0 3px 12px 0 #00a9e5;
        text-shadow: 0 0 3px #00a9e5;
    }
  }

@import './components/SideMenu/index.scss';
@import './components/SideMenuItemView/index.scss';
@import './components/Tasks/index.scss';
